.header {
  background-image: url("../assets/HeroImagelg.png");
  margin-block-start: 1rem;
}

@media screen and (max-width: 1024px) {
  .header {
    background-image: url("../assets/HeroImagemd.png");
  }
}

@media screen and (max-width: 425px) {
  .header {
    background-image: url("../assets/HeroImagesm.png");
    padding: 1.6rem 2.5rem 2.5rem 2.5rem;
    border-radius: 5rem 5rem 0 0;
    background-position: center;
    background-size: cover;
  }
}

.header__title {
  color: #fff;
  font-family: Mystery Quest;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 15rem;
}

.search-mobile {
  background-color: white;
  display: flex;
  border-radius: 4rem;
  display: none;
}

@media screen and (max-width: 425px) {
  .search-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    width: 40%;
  }

  .search-mobile__text {
    color: #291507;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
  }
}
