.search-modal {
  background-color: white;
  padding-block-end: 5rem;
  padding-block-start: 5rem;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.search-modal__close-button {
  background: rgba(151, 151, 151, 0.1);
  border-radius: 8px;
  border: none;
  color: #291507;
  font-size: 2rem;
  outline: 0;
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
}

.search-input {
  align-items: center;
  border-radius: 1rem;
  border: 0.1rem solid black;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.4rem 1rem;
  width: 90%;
}

.search-input__input {
  border: none;
  outline: 0;
  padding: 1rem;
  width: calc(100% - 4rem);
}

.search-input__icon {
  font-size: 3rem;
}

.search-results {
  list-style: none;
  padding-inline-start: 2rem;
}

.search-results__item {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 1rem 0;
  padding-inline-start: 1rem;
  width: 95%;
}

.search-results__item:hover {
  background: rgba(151, 151, 151, 0.1);
  border-radius: 1.2rem;
}
