@import "../scss/ScreenBreakPoints.scss";

.header {
  background-image: url("../assets/HeroImagelg.png");
  background-position: center;
  background-size: cover;
  border-radius: 5rem 5rem 0 0;
  margin-block-start: 1rem;
  padding: 5rem 2.5rem 10rem 10rem;

  @media screen and (max-width: 1024px) {
    background-image: url("../assets/HeroImagemd.png");
    padding: 1.6rem 2.5rem 4.5rem 4.5rem;
  }

  @media screen and (max-width: 425px) {
    background-image: url("../assets/HeroImagesm.png");
    padding: 1.6rem 2.5rem 2.5rem 2.5rem;
  }
}

.header__title {
  color: #fff;
  font-family: Mystery Quest;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 0.5rem;

  @include w768 {
    font-size: 3.2rem;
  }

  @include w425 {
    font-size: 1.8rem;
  }
}

.header__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 30rem;

  @include w768 {
    font-size: 1.8rem;
    width: 23rem;
  }

  @include w425 {
    font-size: 1.2rem;
    width: 15rem;
  }
}

.search {
  background: white;
  border-radius: 2rem;
  min-width: 25rem;
  position: relative;
  width: 25%;

  @include w425 {
    display: none;
  }
}

.search-mobile {
  background-color: white;
  border-radius: 4rem;
  display: none;

  @include w425 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    width: 12rem;

    .search-mobile__text {
      color: #291507;
      display: block;
      font-family: Montserrat;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
